%html
   %head
     %title Example AMQP Site
     %script{type:'text/javascript', src:'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'}
     %script{type:'text/javascript', src:'http://cdn.socket.io/stable/socket.io.js'}
     %script{type:'text/javascript', src:'/scripts/app.js'}
     %link{rel:'stylesheet', href:'/styles.css'}   
   %body
     #content= body
